a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #1e90ff;
}

.blog-post-list {
  font-size: 36px;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  background: linear-gradient(135deg, #337dbe 0%, #07277e 100%);
  animation: gradientAnimation 3s infinite alternate;
  position: relative;
  z-index: 1;
  animation: fadeIn 1s ease-in-out;
}

/* Add specific styles for the "Posts" text */
.blog-post-list > div:first-child {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}

.post-link {
  display: block;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fafafa;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 0.8s ease-in-out;
}

.post-link:hover {
  background-color: #f0f0f3;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.post-link h2 {
  font-size: 24px;
  color: #333;
  margin: 0;
  transition: color 0.3s, transform 0.3s;
  animation: fadeIn 1.2s ease-in-out;
}

.post-link h2:hover {
  color: #1e90ff;
  transform: scale(1.05);
}

.post-link p {
  font-size: 18px;
  color: #f0e5e5;
  margin: 10px 0 0;
  animation: fadeIn 1.5s ease-in-out;
}

.post-link p:hover {
  color: #1e90ff;
}

/* Keyframes for Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.post-link {
  position: relative;
  overflow: hidden;
}

.post-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75px;
  width: 50px;
  height: 100%;
  background: rgba(30, 144, 255, 0.1);
  transform: skewX(-20deg);
  transition: left 0.5s;
  z-index: -1;
}

.post-link:hover::before {
  left: 100%;
  transition: left 0.5s;
}

@media (max-width: 768px) {
  .blog-post-list {
    padding: 10px;
  }

  .post-link {
    padding: 15px;
  }

  .post-link h2 {
    font-size: 20px;
  }
}
