/* Navbar.css */
nav {
  background-color: #084c53;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
}

nav ul li a,
nav ul li button {
  color: #ffbd59;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
}

nav ul li a:hover,
nav ul li button:hover {
  background-color: #000000;
  border-radius: 4px;
}

nav ul li button {
  border: 0px solid white;
  border-radius: 4px;
  display: flex;
}

nav ul li button:hover {
  background-color: #840c0c;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #ffbd59;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navbar-right {
    flex-direction: column;
    align-items: flex-start;
  }

  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .nav-links li a,
  .nav-links li button {
    width: 100%;
    padding: 10px 0;
  }
}
